* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w-40 {
  width: 40% !important;
}
.tabs_list,
.actions_list {
  list-style: none;
  padding: 0;
  width: 100%;
}
.App .App_Svg {
  font-size: 33px;
  position: absolute;
  color: #ffa76c;
  left: 12px;
  top: 5px;
  cursor: pointer;
}
.table-svg {
  font-size: 33px;
  color: #ffa76c;
  cursor: pointer;
  float: right;
  margin-right: 7px;
}
.tabs_list_item {
  font-size: 17px;
  padding: 10px;
  color: #7e7e7e;
}
.actions_list_item {
  font-size: 17px;
  padding: 5px;
  color: #7e7e7e;
}
.actions_list_item_btn {
  border: none;
  padding: 3px 15px;
  background: #fb6601;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}

.tabs_list_item:hover {
  font-size: 17px;
  background-color: #fb6601;
  color: white;
  cursor: pointer;
}

.App {
  display: flex;
}

table thead th {
  font-size: 10px;
}

table tbody td {
  font-size: 12px;
}

.tabs {
  width: 14%;
  min-height: 100vh;
  color: black;
  box-shadow: 0 0 19px 3px #ffcaa6;
}
.mainOrder {
  display: flex;
  flex-direction: column;
}
.btn_newOrder {
  background: #fb6601;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  margin: 10px;
  color: white;
}
.btn_filter {
  background: #fb6601;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  margin: 5px 10px;
  color: white;
}
.filter_box {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 9px 3px #cfcfcf;
  border: 1px solid #ddd;
  right: 5%;
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto auto auto;
  text-align: left;
  margin-bottom: 5px;
}
label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
