* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul li {
  font-size: 17px;
  padding: 10px;
  color: #7e7e7e;
}

ul li:hover {
  font-size: 17px;
  background-color: #fb6601;
  color: white;
  cursor: pointer;
}

.App {
  display: flex;
}

table thead th {
  font-size: 10px;
} 

.tabs { 
  width: 14%;
  height: 100vh;
  color: black;
  box-shadow: 0 0 19px 3px #767373;
}
.mainOrder {
  display: flex;
  flex-direction: column;
}
.btn_newOrder {
  background: #fb6601;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  margin: 20px;
  color: white;
}
.btn_filter {
  background: #fb6601;
  border: none;
  padding: 5px 30px;
  border-radius: 6px;
  margin: 20px;
  color: white;
}
